.search { margin-top: 30px; position: relative;float: left;}
.dropdown{
    float: right;
    width:180px;
}
.search .dropdown select{
    background: url("#{resource['images:select-button.png']}") no-repeat right #ffffff;
    width: 150px;
    padding: 8px;
    border:  1px solid #e2e2e2;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1;
    height: 30px;
    -webkit-appearance: none;
    margin-left:10px;
}
.search .ui-button{
    text-shadow: none;
    text-align: center;
    box-shadow: none;
}
.search .ui-button-text{
    text-align: center;
    padding:0;
    margin:0;
}
.search-text{
    height:30px;
}
.search input:focus {outline: none;}
.search .button {float: right; width: 100px; height: 30px; border-radius: 3px; color: #fff; font-size: 14px; cursor: pointer; background: #e7685f; border: none; }
.search-text { color: #838383; font-size: 14px; border-radius: 5px; border: 1px solid #e2e2e2; float: left; padding: 12px 0px 12px 38px; width: 674px;}
.search-text:focus {border: 1px solid #30b0e1; box-shadow: 0px 0px 5px 0px #abdfed;}
.button-text { background:url("#{resource['images:submit.jpg']}") no-repeat; width: 18px; height: 18px; border: none; text-indent: -9999px; position: absolute; top: 7px; left: 7px; z-index: 100; cursor: pointer; }
.clear { clear: both; }
.search_type{
    float:left;
    width: 10%;
    text-align: right;
    margin-top: 5px;
}
.search_type_dropdown{
    width: 85px;
}
.dropdown select, .selectBox {
    position: relative;
    color: #000;
    text-decoration: none;
    width: 164px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    float: left;
    padding: 12px 0px 12px 15px;
    background: #fff;
    margin-left: 7px;
}
.ui-datatable.books_list .ui-datatable-data tr,
.ui-datatable.books_list .ui-datatable-data-empty tr,
.ui-datatable.books_list .ui-datatable-data td,
.ui-datatable.books_list .ui-datatable-data-empty td {
    border-style: none;
    white-space: normal;
    padding:0;
    background:none;
    color: crimson;
}
.ui-datatable-tablewrapper {
    overflow: auto;
    width: 770px;
}
.books_list table thead tr {
    display: none;
}
.ui-datatable.books_list table{
    border: none;
    border-collapse: inherit;
}
body .ui-datatable .ui-paginator {
    background-color: antiquewhite; 
    padding: 2px;
    margin-top: 10px;
}
body .ui-button { 
/*	box-shadow: inset 0px 1px 0px 0px #f7c5c0;
	background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color: #fc8d83;
	border-radius: 6px;
	border: 1px solid #d83526;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 14px;
	padding: 1px 10px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #b23e35;
        margin: 3px;*/
background: #fc8d83; padding: 4px  10px; border-radius: 5px; margin-left: 6px; font-size: 14px; color: #fff; text-decoration: none; border: none;
}
body .ui-button.ui-state-hover {
	background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color: #e4685d;
        cursor: pointer;
}
body .ui-button.ui-state-active, body .ui-button.ui-state-down {
	position: relative;
	top: 1px;
}
body .ui-button.ui-button-text-only .ui-button-text {
    padding: 2px 15px;
}
body .ui-inputfield {
    color: #495057;
    background: #ffffff;
    padding: 4px 10px;
    border: 1px solid #ced4da;
    outline: 0 none;
    font-size: 12px;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page {
    padding: 0;
    border: 1px solid transparent;
    text-align: center;
    line-height: 2.286em;
    min-width: 31.286px;
    height: 31.286px;
    color: #286769;
    margin: 0 0.125em;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    font-size: 14px;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  background: #009999e6;
  color: #495057;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-hover {
  background: #00999980;
  color: #082644;
  border-color: transparent;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #00999969;
}
body .ui-paginator .ui-paginator-current, body .ui-paginator .ui-paginator-rpp-options {
    margin: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding: 2px;
}
.box-sh {padding-right: 40px; overflow: hidden; }
.box-sh h1 {float: left; color: #009999; font-size: 30px; margin-left: 39px; margin-top: 28px;}
.box-sh a {margin-top: 25px; float: right; background: #009999; padding: 10px 15px 10px 15px; border-radius: 5px; margin-left: 6px; font-size: 12px; color: #fff; text-decoration: none;}

.mr { margin-top: 15px; width:105px; border-radius: 5px; background: #009999 !important; float: left; padding: 10px 17px 10px 17px; margin-left: 19px; text-decoration: none; color: #fff !important; font-size: 14px;}
.delete-button {margin-top: 15px; margin-bottom: 0px; border-radius: 5px; background: #009999; width:105px; float: left; padding: 10px 14px 10px 14px; margin-left: 19px; text-decoration: none; color: #fff; font-size: 14px;}
.read {margin-top:0px; margin-bottom: 0px; font-size: 13px; text-align: left; background: #009999; background:url("#{resource['images:read-bg.png']}") no-repeat 0% 40%; padding-left: 22px;}
.delete {margin-top:0px; margin-bottom: 0px; font-size: 13px; text-align: left; background: #009999; background:url("#{resource['images:recycle.png']}") no-repeat 0% 40%; padding-left: 22px;}
.edit {margin-top:0px; margin-bottom: 0px; font-size: 13px; text-align: left; background: #009999;background:url("#{resource['images:edit.png']}") no-repeat 0% 40%; padding-left: 22px;}
.download {margin-top:0px; margin-bottom: 0px; font-size: 13px; text-align: left; background: #009999; background:url("#{resource['images:down-bg.png']}") no-repeat 0% 40%; padding-left: 22px;}
.genres a, a:visited { 
    padding: 5px 5px 5px 15px;
    display: block; 
    text-decoration: none;
    color: #8e3c40;
}
a img { 
    border: none;
}

.container {
    background-color: antiquewhite;
    color: #8e3c40;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;	
}
.sidebar1 {
    float: left;
    color: crimson;
    width: 25%;
    padding-bottom: 10px;
    margin: 10px;    
}
h4 {
    padding-left: 50px;
}
.content {
    float: left;
    color: crimson;
    padding: 10px 0;
    width: 75%;
}
.search_div {
    margin: 15px;
    text-align: left;
    background-color: #f7c5c0;
    height: 40px;
    vertical-align: middle;
    padding: 4px;
    width: 95%;
    float: left;
}
.search_string {
    width: 87%;
    float: left;
    padding: 3px;
    /*margin: 3px;*/
    padding: 4px;
}
ul.nav {
    list-style: none; 
    margin-bottom: 15px; 
}
.genres a:hover, a:active, a:focus {
    background-color: #fc8d83;
    color: #d83526;
}
.genres a.selected_link {
    color:red;
}
body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    background-color: #FFF;
    margin: 100px;
}
.header {
    color: crimson;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    /*height: 280px;*/
}
.middle {
    /*background-color: #FFFFFF;*/
    width: 100%;
}
.footer {
    color: darksalmon;
    height: 50px;
    text-align: center;
/*    margin: 0 auto;*/
    width: 100%;
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */    
}
.left_menu {
    float: left;
    width: 18%;
    padding-bottom: 10px;
    margin: 10px;
    color: crimson;
}
.title{
    float: left;
    width: 300px;
    text-align: left;
    padding-top: 50px;
    color: crimson;
/*    font-size: 18px;*/
/*    font-weight: bold;*/
}
.logo{
    text-align: left;
    padding: 10px;
    float: left;
    width: 100px;
    height: 100px;
}
.logo img {
    width: 100px;
    height: 100px;    
}
.text {
    color: #8e3c40;
    padding-left: 100px;
    padding-right: 100px;
}
.welcome{
    text-align: right;
    padding-top: 5px;
    font-weight: normal;
    padding-right: 25px;
    color: darkcyan;
    float: right;
}
.welcome #exit a {
    text-decoration: none;
    color: darkcyan;  
    border: #009999 dashed 1px;
    border-radius: 5px;
    padding: 4px;
    font-size: 13px;
}
.welcome #exit a:hover {
    background: linear-gradient(to bottom, #009999 5%, #ccffff 100%);
    background-color: activeborder;
    cursor: pointer;
}
/*.welcome p a, p a:hover {
    background: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
}*/
.welcome p {
    margin: 5px;
}
.welcome h5 {
    margin-bottom: 20px;
    margin-top: 10px;
}
.search_form{
    float: left;
    /* width: 90%; */
    text-align: right;
    padding-bottom: 20px;
}
.search_type{
    float:left;
    width: 10%;
    text-align: right;
    margin-top: 5px;
}
.search_type_dropdown{
    width: 85px;
    height: 22px;
}
.search_button {
	box-shadow: inset 0px 1px 0px 0px #f7c5c0;
	background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color: #fc8d83;
	border-radius: 6px;
	border: 1px solid #d83526;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 15px;
	padding: 3px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #b23e35;
        margin: 3px;
}
.search_button:hover {
	background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color: #e4685d;
        cursor: pointer;
}
.search_button:active {
	position: relative;
	top: 1px;
}
.search_option {
    
}
.book_list {
    float: left;
    width: 700px;
}
.book_list h3{
    color: crimson;
    text-align: center;
    padding: 0;
    margin: 0;
}
.book_title p{
    color: #b23e35;;
    font-weight: bold; 
    font-size: 15px; 
    padding: 0;
    margin: 0;
}   
.book_title {
    height: 50px;
    float: left;
}
.book_details {
    color: #8e3c40;
    float: left;
    margin-top: 10px;  
    font-size: 13px;
}
.book_info {
    width: 150px;
    /* height: 450px; */
    font-size: 12px;
    float: left;
    margin: 15px;
}
.book_info a{
    /*text-decoration: none;*/
    font-weight: bold;
    font-size: 14px;
    color: #009999;
}
.book_image{
    height: 260px;
    float: left;
}
.letters{
    float:left;
    height: 40px;
    width: 1000px;
    margin-left: -20px;
    text-align: center;
    background-color: #009999;
    padding: 10px;
}
.letters a{
    text-decoration: none;
    color: #d83526;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px;
}
.letters a:hover, a:active, a:visited {
	background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color: #e4685d;
        cursor: pointer;
}
.letters a.selected_letter{
    color:red;
}
.pdf_viewer {
    margin: 0 auto;
    width: 850px;
    margin-top: 10px;
    height: 1200px;
}
.pdf_viewer iframe {
    margin-top: 10px;
}
.pager a{
    margin-left: 5px;
    margin-top: 50px;
}

.pager{
    margin-left: 15px;
    width: 100%;
    float:left;
}
.pager .selected_page{
    color:red;
}
#loading_wrapper{
    width: 100%;  
    text-align: center;
    position: fixed;
    display: block;
    z-index: 1000;
}
#loading_wrapper p{
    background-color: #fde88e;
    width: 100px;
    height: 20px;
    margin: 0 auto;
    font-weight: bold;
}
.locales{
    width: 100%;
    height: 20px;    
    margin-bottom: 20px;
}
.locales img {
    padding-left: 2px;
    padding-right: 2px;
}
.book_info a.content_link {
    font-size: 12px;
    margin-right: 2px;
}
.book_info a.save_link {
    font-size: 12px;
}
.col2{
    vertical-align: top;
    width: 180px;
}
.col1{
    vertical-align: auto;
    width: 135px;
    margin-top: 20px;
}
.col2 a{
    font-weight: bold;
    color:#009999;
    font-size: 15px;
}
.col3{
    vertical-align: top;
    width: 280px;
}
.col2 p{
    font-size: 13px;
}
.name_edit{
    width: 150px;
}
.publisher_edit{
    width: 100%;
}
.date_edit{
    width: 100%;
}
.pages_edit{
    width: 100px;
    margin-left: 10px;
}
.descr_edit{
    width: 100%;
    height: 200px;
}
.ajaxLoading {
    color: #440000;
}
#editDialog{
    width: 800px !important;
    height: 800px;
}
.pdf-link label{
    cursor: pointer;
    font-weight: bold;
}
.pdf-upload div{
    width: 200px;
}
body .ui-fileupload .ui-fileupload-content { border: none !important; display: none; }
body .ui-fileupload .ui-fileupload-buttonbar {border-bottom: none; border-left: none; border-right: none; padding: 10px 0; background: none;}
.image-info{
    float: left;
    width: 50%;
}
.rating{
    float:left;
    margin-top:5px;
}
.image-info table{
    margin-left: 20px;
    margin-top:0px;
}
.image-info td{
    padding:0;
    border:0;
    vertical-align: bottom;
}
.vote-count{
    color:#b2b2b2;
    margin-left: 5px;
}
.tooltip{
    width:500px;
}
.ui-widget-content.descr-text{
    max-width:50px;
    border:0;
}
.edit_book_table td, .edit_book_table tr{
    vertical-align: top;
    text-shadow:0;
    border:0;
}
.edit_book_table .ui-panelgrid-footer td{
    text-align: right;
}
.edit_book_table .ui-panelgrid-footer td button{
    margin-left:10px;    
}

.edit_book_table tbody{
    border:1px solid #d6d6d6;
    padding:30px;
}

.edit_book_table img{
    border: none;
}

.edit_book_table{
    width:100%;
}

.edit_book_table .ui-widget-content{
    border:0;
}

.fileupload-content{
    display: none !important;
}

.ui-fileupload .start {
    display: none !important;
}
.ui-fileupload .cancel {
    display: none !important;
}
.ui-fileupload .progress {
    display: none !important;
}
body .ui-button.ui-button-text-icon-left .ui-button-text {
     padding: 2px; 
     padding-left: 25px;
}
body .ui-panel .ui-panel-content {
    border: none;
    background: #ffffff;
    color: #495057;
    padding: 0rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    /*height: 400px;*/
}
body .ui-widget {
    font-size: 12px;
}
body .ui-panelgrid .ui-panelgrid-cell {
    border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    padding: 5px;
}
body .ui-dialog .ui-dialog-titlebar {
    background: #ffffff;
    color: #495057;
    font-weight: 700;
    border-bottom: 0 none;
    padding: 10px;
}